[Unit]
Description=Check for a tested Pivot release every thirty seconds

[Timer]
OnBootSec=2min
OnUnitInactiveSec=30s
AccuracySec=1s
RandomizedDelaySec=5s
Unit=pivot-update.service

[Install]
WantedBy=timers.target
